<!--Slider Start-->
<div class="ast_slider_wrapper style_2 ast_index_vastu">
  <div class="ast_banner_text">
    <div class="container">
      <div class="ast_bannertext_wrapper">
        <h1>Vastu for the house is important than geography.</h1>
        <ul class="ast_toppadder40 ast_bottompadder50">
          <li>horoscopes</li>
          <li>Muhurthas</li>
          <li>Gemstones</li>
        </ul>
        <a class="ast_btn">Click Here</a>
      </div>
    </div>
  </div>
</div>
<!--Slider End-->
<!--Vastu Start-->
<div class="ast_vastu_wrapper ast_toppadder70 ast_bottompadder70">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ast_vastu_info">
          <h3>Vastu tips and solutions for successful anything</h3>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
          <p>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <img src="../../../assets/images/content/about/vastu_abt.jpg" alt="About">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <ul>
                <li>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</li>
                <li>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</li>
                <li>The generated Lorem Ipsum is therefore always free from repetition, injected humour.</li>
                <li>If you are going to use a passage of Lorem Ipsum.</li>
                <li>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</li>
                <li>by injected humour, or randomised words which don't look even slightly believable.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ast_vastu_wrapper gray_wrapper ast_toppadder70 ast_bottompadder40">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ast_vastu_box_wrapper">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_vastu_box">
                <a >
                  <img src="../../../assets/images/content/index/vastu1.jpg" alt="vastu" title="Vastu">
                  <h4>vastu for home</h4>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_vastu_box">
                <a >
                  <img src="../../../assets/images/content/index/vastu2.jpg" alt="vastu" title="Vastu">
                  <h4>vastu for business</h4>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_vastu_box">
                <a >
                  <img src="../../../assets/images/content/index/vastu3.jpg" alt="vastu" title="Vastu">
                  <h4>vastu for sports</h4>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_vastu_box">
                <a >
                  <img src="../../../assets/images/content/index/vastu4.jpg" alt="vastu" title="Vastu">
                  <h4>vastu for career</h4>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_vastu_box">
                <a >
                  <img src="../../../assets/images/content/index/vastu5.jpg" alt="vastu" title="Vastu">
                  <h4>vastu for health</h4>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_vastu_box">
                <a >
                  <img src="../../../assets/images/content/index/vastu6.jpg" alt="vastu" title="Vastu">
                  <h4>vastu for relationship</h4>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Vastu End-->
