<!-- Header End -->
<!--Slider Start-->
<div class="ast_slider_wrapper ast_index_gemstone">
  <div class="ast_banner_text">
    <div class="ast_waves2">
      <div class="ast_wave"></div>
      <div class="ast_wave"></div>
      <div class="ast_wave"></div>
    </div>
    <div class="container">
      <div class="ast_bannertext_wrapper">
        <h1>Gem recommendations</h1>
        <ul class="ast_toppadder40 ast_bottompadder50">
          <li>horoscopes</li>
          <li>Muhurthas</li>
          <li>Gemstones</li>
        </ul>
        <a class="ast_btn" (click)="appointment()">Click Here</a>
      </div>
    </div>
  </div>
</div>


<!--&lt;!&ndash;gemstone form start&ndash;&gt;-->
<!--<div class="ast_searchbox_wrapper gray_wrapper gemstone_search">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="ast_search_box">-->
        <!--<h1>Know your Lucky Gemstone</h1>-->
        <!--<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">-->
          <!--<input type="text" placeholder="Name">-->
        <!--</div>-->
        <!--<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">-->
          <!--<input type="text" placeholder="Place Of Birth">-->
        <!--</div>-->
        <!--<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">-->
          <!--<input type="text" placeholder="Time Of Birth">-->
        <!--</div>-->
        <!--<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">-->
          <!--<input type="text" placeholder="Date Of Birth">-->
        <!--</div>-->
        <!--<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">-->
          <!--<select>-->
            <!--<option value="male">Male</option>-->
            <!--<option value="female">Female</option>-->
          <!--</select>-->
        <!--</div>-->
        <!--<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">-->
          <!--<button type="submit" class="ast_btn">Get now</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;gemstone form end&ndash;&gt;-->
<!--Gemstones Start-->
<div class="ast_gemstones_wrapper gray_wrapper ast_toppadder70 ast_bottompadder50">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ast_gemstones_slider">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_gemstonea_slider_box">
                <img src="../../../assets/images/content/stone_1.png" alt="Stone">
                <h4>garnet</h4>
                <p>On the other hand, we denounce with righteous indignation and dislike men</p>
                <div class="clearfix"></div>
                <a  class="ast_btn">know more</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_gemstonea_slider_box">
                <img src="../../../assets/images/content/stone_2.png" alt="Stone">
                <h4>amethyst</h4>
                <p>On the other hand, we denounce with righteous indignation and dislike men</p>
                <div class="clearfix"></div>
                <a  class="ast_btn">know more</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_gemstonea_slider_box">
                <img src="../../../assets/images/content/stone_3.png" alt="Stone">
                <h4>aquamarine</h4>
                <p>On the other hand, we denounce with righteous indignation and dislike men</p>
                <div class="clearfix"></div>
                <a  class="ast_btn">know more</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_gemstonea_slider_box">
                <img src="../../../assets/images/content/stone_4.png" alt="Stone">
                <h4>diamond</h4>
                <p>On the other hand, we denounce with righteous indignation and dislike men</p>
                <div class="clearfix"></div>
                <a  class="ast_btn">know more</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_gemstonea_slider_box">
                <img src="../../../assets/images/content/stone_5.png" alt="Stone">
                <h4>emerald</h4>
                <p>On the other hand, we denounce with righteous indignation and dislike men</p>
                <div class="clearfix"></div>
                <a  class="ast_btn">know more</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_gemstonea_slider_box">
                <img src="../../../assets/images/content/stone_6.png" alt="Stone">
                <h4>alexandrite</h4>
                <p>On the other hand, we denounce with righteous indignation and dislike men</p>
                <div class="clearfix"></div>
                <a  class="ast_btn">know more</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_gemstonea_slider_box">
                <img src="../../../assets/images/content/stone_7.png" alt="Stone">
                <h4>ruby</h4>
                <p>On the other hand, we denounce with righteous indignation and dislike men</p>
                <div class="clearfix"></div>
                <a  class="ast_btn">know more</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_gemstonea_slider_box">
                <img src="../../../assets/images/content/stone_8.png" alt="Stone">
                <h4>peridot</h4>
                <p>On the other hand, we denounce with righteous indignation and dislike men</p>
                <div class="clearfix"></div>
                <a  class="ast_btn">know more</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_gemstonea_slider_box">
                <img src="../../../assets/images/content/stone_9.png" alt="Stone">
                <h4>sapphire</h4>
                <p>On the other hand, we denounce with righteous indignation and dislike men</p>
                <div class="clearfix"></div>
                <a  class="ast_btn">know more</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_gemstonea_slider_box">
                <img src="../../../assets/images/content/stone_10.png" alt="Stone">
                <h4>rose zircon</h4>
                <p>On the other hand, we denounce with righteous indignation and dislike men</p>
                <div class="clearfix"></div>
                <a  class="ast_btn">know more</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_gemstonea_slider_box">
                <img src="../../../assets/images/content/stone_11.png" alt="Stone">
                <h4>topaz</h4>
                <p>On the other hand, we denounce with righteous indignation and dislike men</p>
                <div class="clearfix"></div>
                <a  class="ast_btn">know more</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="ast_gemstonea_slider_box">
                <img src="../../../assets/images/content/stone_12.png" alt="Stone">
                <h4>blue zecron</h4>
                <p>On the other hand, we denounce with righteous indignation and dislike men</p>
                <div class="clearfix"></div>
                <a  class="ast_btn">know more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Gemstones End-->
<!--About Us Start-->
<div class="ast_about_wrapper ast_toppadder70 ast_bottompadder70">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="ast_about_info_img abt_img">
          <img src="../../../assets/images/content/about/Gemstone.jpg" alt="" class="img-responsive">
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="ast_about_info">
          <h4>know about gemstones</h4>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
          <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.The point of using Lorem Ipsum is that it has a more-or less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English will uncover many web sites still in their infancy.The point of using Lorem Ipsum is that it has a more-or less normal distribution.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--About Us End-->
